::-webkit-selection {
    color: rgb(0, 51, 72);
    background: #22b3bb;
}

::-moz-selection {
    color: rgb(0, 51, 72);
    background: #22b3bb;
}

::selection {
    color: rgb(0, 51, 72);
    background: #22b3bb;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.19);
}

::-webkit-scrollbar-track:hover {
    background-color: rgb(88, 88, 88);
    border-radius: 10px;
}

* {
    font-family: Arial;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
}

body {
    background: #002838;
    width: 100%;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    background-clip: border-box;
    background-position-x: right;
}

body>nav.navba {
    background-color: rgb(5, 54, 74);
    height: auto;
    max-width: 100%;
    padding: 3px;
    margin: 0 0 5px;
    font-family: Arial;
    font-size: 21pt;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

nav p {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 8px;
    width: 21%;
    color: #22b3bb;
    text-shadow: none;
}

main.row {
    max-height: 93.49vh;
    max-width: 99.5vw;
}

.menu {
    max-width: 20%;
    max-height: 45px;
    height: 90px;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu img {
    width: 100%;
    height: 100%;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0px 0 -12px;
    cursor: pointer;
}

.gb_he:hover,
.gb_he:focus,
.btn-mo:hover,
.btn-mo:focus {
    opacity: .85;
}

svg.gb_he {
    width: 100%;
    height: 36px;
    cursor: pointer;
    opacity: .55;
}

svg.gb_he path {
    fill: beige;
}

.togo_menu {
    max-height: 94vh !important;
    right: 0;
    bottom: 0;
    top: 55px;
    width: 70% !important;
    background: #05364a !important;
    font-size: 14pt;
    isolation: isolate;
    z-index: 11;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.togo_menu p {
    font-size: 13pt !important;
    width: 98%;
    color: azure;
}

.togo_overflow {
    overflow: hidden !important;
    position: fixed;
}

.togo_menu span input {
    width: 47%;
    height: auto;
    margin: 2px auto;
    background: transparent;
    color: aliceblue;
    padding: 12px 20px;
    border: .91px solid #5b7f8c;
    overflow: hidden;
}

.card_f {
    overflow: hidden;
    background-color: rgba(10, 79, 107, 0.32);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: auto;
    width: auto;
    border-radius: .1875rem;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    max-height: 41px;
}

.card_b {
    overflow: hidden;
    background-color: rgba(255, 255, 255, .9);
    height: 42px;
    zoom: 50;
    width: auto;
    max-width: 60px;
    margin-bottom: 1.25rem;
    border-radius: .1875rem;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    position: inherit;
    right: 0px;
    text-align: center;
    font-size: 9pt;
    font-weight: 600;
}

#acts {
    width: 100%;
    background: rgba(255, 255, 255, .16);
    text-align: center;
    max-height: 65vh;
    overflow-y: auto;
    padding-bottom: 10px;
    color: #dbf3fd;
}

#acts::-webkit-scrollbar {
    width: 10px;
    background: #f0f8ff82 !important;
    border-radius: 1px;
}

#acts::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: rgb(145, 170, 183) !important;
}

#acts::-moz-selection {
    color: #000;
    font-weight: bolder;
    background: rgb(194, 208, 214);
}

#acts::selection {
    color: #000;
    font-weight: bolder;
    background: rgb(194, 208, 214);
}

main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

article.form {
    width: 385px;
    background: transparent;
    padding: 0 2px;
    margin: 0;
}

article.form .m {
    background: rgba(255, 255, 255, .16);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.56);
    border-radius: 2px 2px 6px 6px;
}

.postfix {
    display: block;
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    padding-top: 0px;
    padding-left: 20px;
    overflow: hidden;
    font-size: 0.875rem;
    font-weight: 900;
    height: 2.3125rem;
    line-height: 3.3125rem;
    outline: none;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0.08), inset 0 8px 22px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0.08), inset 0 8px 22px rgba(0, 0, 0, 0.08);
    background: rgba(2, 6, 8, 0.16);
    border: 1px solid rgba(120, 162, 177, 0.62);
    border-left: 0;
    border-right: 0;
    color: rgba(221, 246, 255, 0.84);
}

option {
    color: rgb(0, 0, 0);
}

#currenciesToC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 69%;
    overflow: auto hidden;
    padding-bottom: 2px;
}

.togo_menu span#currenciesToC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: column;
 */
    height: 92%;
    width: 99%;
    padding-bottom: 15px;
    overflow: hidden auto;
    max-width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bloc {
    display: inline-block;
    margin: 2px;
    width: 45%;
    height: auto;
    border: 1px solid rgba(240, 240, 242, 0);
    border-radius: 4px;
    text-align: center;
    outline-color: #222;
    background: rgba(242, 242, 242, 0.20);
    color: #dbf3fd;
    font-weight: 100;
    font-size: medium;
}

.bloc:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24), inset 0 12px 28px rgba(0, 0, 0, 0.28);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24), inset 0 12px 28px rgba(0, 0, 0, 0.28);
}

.bloc:focus {
    background: #000000a3;
    color: #fff
}

.togo_menu .bloc {
    padding: 10px;
    width: 45%;
    font-size: x-large;
    margin: 2px auto;
}

.container {
    max-width: 31.2%;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, .9);
    border-radius: .1875rem;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    margin: 0 auto;
}

.container_b {
    width: 400px;
    text-align: center;
    margin-top: -592px;
    background-color: rgba(255, 255, 255, .9);
    margin-bottom: 1.25rem;
    border-radius: .1875rem;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    border: 1px solid rgba(0, 0, 0, .12);
    -webkit-transform: translatex(440px) translatey(582px);
    -ms-transform: translatex(440px) translatey(582px);
    transform: translatex(440px) translatey(582px);
}

.track {
    -webkit-transform: translatex(540px) translatey(940px);
    -ms-transform: translatex(540px) translatey(940px);
    transform: translatex(540px) translatey(940px);
}

.m_h {
    background: #05364a;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-radius: 15px 15px 0 0;
    -webkit-box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.17);
    height: 60px;
}

.m_h:nth-child(1) {
    cursor: pointer;
}

.m_h h1 {
    color: #dbf3fd;
    font-weight: 100;
    font-size: x-large;
    margin: 15px 0 0;
    width: 73%;
}

.m_h .m_h_mo {
    border: 0;
    background: transparent;
    color: #dbf3fd;
    padding: 0;
    margin: 0;
    font-size: x-large;
    outline: none;
}

#searchActivity {
    width: 100%;
    border: 0;
    font-size: x-large;
    padding: 4px 15px;
    border-radius: 2px 2px 0 0;
    border: 1px solid #567c8a;
    border-right: 0;
    border-left: 0;
    cursor: text;
    background: #213f4a;
    color: aliceblue;
}

#searchActivity::-webkit-input-placeholder {
    color: #97b2b5;
    font-size: 2pc;
}

#searchActivity::-moz-placeholder {
    color: #97b2b5;
    font-size: 2pc;
}

#searchActivity:-ms-input-placeholder {
    color: #97b2b5;
    font-size: 2pc;
}

#searchActivity::-ms-input-placeholder {
    color: #97b2b5;
    font-size: 2pc;
}

#searchActivity::placeholder {
    color: #97b2b5;
    font-size: 2pc;
}

.recent1_hide {
    max-height: 420px !important;
    height: 120px;
    overflow: hidden;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

.recent {
    width: 400px;
    max-height: 800px;
    overflow-wrap: break-word;
    overflow-y: scroll;
    text-align: center;
    background-color: rgba(255, 255, 255, .16);
    border-radius: .1875rem;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    border: 1px solid rgba(0, 0, 0, .12);
    color: #dbf3fd;
}

.recent * {
    font-size: 15pt;
}

.details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 81%;
    margin: 0 auto;
    font-size: 13pt;
}

.details h1,
.details h2,
.details h3,
.details h4,
.details h6 {
    margin: 22px 0 0;
    width: 100%
}

.details p {
    font-size: 13pt;
    line-height: 1.5pc;
}

a.link {
    color: #89c115;
    text-decoration: none;
    font-weight: 100;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(34, 179, 187, 0.06);
    box-shadow: 0px 1px 0px 0px rgba(34, 179, 187, 0.06);
    opacity: .7;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

a.link:hover {
    opacity: 1;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

a h4 {
    padding-bottom: 20px;
}

#currencyFromValue,
#display,
.cls {
    font-size: 20px;
    border-radius: 4px;
    outline-color: #222;
    background: #dcdcdc;
    color: #444;
    text-align: right;
    margin: 5px 20px;
    -ms-flex-item-align: center;
    align-self: center;
}

#currencyFromValue {
    padding: 5px 10px;
    width: 89%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 28pt;
    background: rgba(40, 59, 66, 0.55);
    border: 0;
    color: azure;
    border: 1px solid #587e8c;
    border-left: 0;
    border-right: 0;
}

#currencyFromValue::-webkit-input-placeholder {
    color: #97b2b5;
    font-size: 2.8pc;
    text-align: left;
    font-weight: 700;
}

#currencyFromValue::-moz-placeholder {
    color: #97b2b5;
    font-size: 2.8pc;
    text-align: left;
    font-weight: 700;
}

#currencyFromValue:-ms-input-placeholder {
    color: #97b2b5;
    font-size: 2.8pc;
    text-align: left;
    font-weight: 700;
}

#currencyFromValue::-ms-input-placeholder {
    color: #97b2b5;
    font-size: 2.8pc;
    text-align: left;
    font-weight: 700;
}

#currencyFromValue::placeholder {
    color: #97b2b5;
    font-size: 2.8pc;
    text-align: left;
    font-weight: 700;
}

#currency_Val::-webkit-input-placeholder {
    color: #97b2b5;
    font-size: 1.8pc;
}

#currency_Val::-moz-placeholder {
    color: #97b2b5;
    font-size: 1.8pc;
}

#currency_Val:-ms-input-placeholder {
    color: #97b2b5;
    font-size: 1.8pc;
}

#currency_Val::-ms-input-placeholder {
    color: #97b2b5;
    font-size: 1.8pc;
}

#currency_Val::placeholder {
    color: #97b2b5;
    font-size: 1.8pc;
}

#currency_Val {
    height: 40px;
    padding: 5px 10px;
    width: 89%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18pt;
    background: #234552;
    border: 1px solid #567c8a;
    color: aliceblue;
}

.conv-tools {
    display: grid;
}

#convt {
    color: #82ff92;
    background-color: hsl(197, 36%, 25%);
    border: 1px solid rgba(0, 141, 148, 0.77);
    border-radius: 10px;
    padding: 10px 45px;
    outline: none;
    margin: 12px auto;
    font-size: 29px;
    font-weight: 100;
}

#convt:active {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    border-bottom: 2px solid #444;
}

button#save {
    margin: 0 auto !important;
    border-radius: 10px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 28pt;
    background: #f8fafa;
    border: 1px solid #f1f1f1af;
    display: none;
}

.digs {
    width: 100%;
    margin: 4px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.btn-num-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 84%;
}

.btn-num {
    border: 0;
    background: transparent;
    color: #8bff8d;
    font-size: 50pt;
    padding: 2px 20px;
    margin: auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-dot {
    width: auto;
    padding: 0 30px;
}

.btn-num:active {
    outline: none;
    -webkit-box-shadow: inset 0 0 18px 14px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0 18px 14px rgba(0, 0, 0, 0.08);
}

.btn-num:focus {
    outline: none;
}

.btn-num:after {
    content: "";
    background: hsla(60, 100%, 77%, 0.38);
    display: block;
    position: absolute;
    padding: 20px;
    margin-left: -24px;
    margin-top: -24px;
    margin-bottom: -24px;
    margin-right: -24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.btn-num:active:after {
    padding: 0;
    margin: 20px;
    opacity: 1;
    -webkit-transition: all 0ms;
    -o-transition: all 0ms;
    transition: all 0ms;
}

.sign-btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 16%;
}

.sign-btn {
    width: 100%;
    border: 0;
    margin: .0px 0;
    padding: 0;
    background: rgba(4, 35, 47, 0.14);
    color: #ababab;
    height: auto;
    font-size: 30pt;
}

.sign-btn:active {
    outline: none;
    -webkit-box-shadow: inset 0 0 18px 14px rgba(5, 54, 74, 0.14);
    box-shadow: inset 0 0 18px 14px rgba(5, 54, 74, 0.14);
}

.sign-btn:focus {
    outline: none;
}

.sign-delete {
    color: #ecb718;
}

.sign-equal {
    color: greenyellow;
}

select:hover {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24), inset 0 22px 28px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24), inset 0 22px 28px rgba(0, 0, 0, .24);
}

.digits:active,
.mathButtons:active,
#clearbutton:active,
.sp:active {
    border-radius: 40px;
    outline: none;
    -webkit-transition: border-radius 4s;
    -webkit-transition: border-radius 2s;
    -o-transition: border-radius 2s;
    transition: border-radius 2s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}

.hidd {
    display: none;
    opacity: 0;
}

select,
button,
input:not([type="text"]) {
    cursor: pointer;
}

.m .span {
    margin: 5px auto;
    max-width: 100%;
    width: 30%;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 600;
    font-size: x-large;
}

label.label {
    color: #f0f0f0;
    max-height: 0px;
    /* height: 0; */
    /* overflow: hidden; */
    opacity: 0;
}

label.label:nth-child(2) {
    position: absolute;
}

label.label:focus {
    color: #f0f0f0;
    max-height: 0px;
    opacity: 1;
    position: relative;
}